<div class="flex flex-col justify-center h-full py-12">
    <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
      <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
        <h1 class="tracking-wide text-red-600 text-2xl mb-6">
          Expand your <span class="text-gray-800 font-bold tracking tracking-widest">HORIZON</span>
        </h1>
        <h2 class="font-bold tracking-widest text-4xl">
          At AIS, we do...
        </h2>
        <span class="content__container block font-light text-browngray text-2xl my-6">
          <ul class="content__container__list">
            <li class="content__container__list__item xl:pl-3">Multi-disciplinary Robotics</li>
            <li class="content__container__list__item xl:pl-3">Mapping & Navigation</li>
            <li class="content__container__list__item xl:pl-3">Intelligent Space</li>
            <li class="content__container__list__item xl:pl-3">Deep Learning</li>
            <li class="content__container__list__item xl:pl-3">Behavior Endowment</li>
            <li class="content__container__list__item xl:pl-3">Human-Robot Interaction</li>
            <li class="content__container__list__item xl:pl-3">Mixed Reality</li>
          </ul>
        </span>
        <p class="font-bold tracking-widest text-4xl">... with PASSION!</p>
      </div>
      <div class="w-full sm:w-1/2">
        <img src="assets/images/undraw_Friends_online_re_r7pq.svg" alt="AWE.SOME header">
      </div>
    </div>
  </div>
  <div class="flex flex-row w-full justify-center pb-12">
    <a class="px-10 py-2 text-white bg-red-600 rounded-full shadow-md text-lg hover:bg-white hover:text-red-600 hover:border-red" href="#about">
      More Information
    </a>
  </div>