<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="top" class="font-sans text-gray-800 bg-gray-100">
    <header class="header w-full min-h-screen flex flex-col justify-between">
      {% include header.html %}
      {% include banner.html %}
    </header>

    <main>
      {% include about.html %}
      {% include features.html %}
      <div class="col-sm-12">
        <div class="row">
          {{ content }}
        </div>
      </div>
    </main>

    {% include footer.html %}
  </body>

</html>
