<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="top" class="font-sans text-gray-800 bg-gray-100">
    {% include header.html %}
    {% if page.title == "Home" %}
        <header class="header w-full min-h-screen flex flex-col justify-between">
        {% include banner.html %}
        </header>
      {% else %}
        {% include ribbon.html %}
      {% endif %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
  {% include default_js.html %}
</html>
